NEXT_PUBLIC_APPWRITE_PROJECT_ID=give_project_id_here
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=Digital Marketing
NEXT_PUBLIC_APPWRITE_ENDPOINT=give_appwrite_endpoint_here
NEXT_PUBLIC_APWRITE_DATABASE_ID=give_database_id_here
APPWRITE_API_KEY=give_appwrite_api_key_here
